# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Environment
.env

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
dist/
build/

# Reports
reports/

# Streamlit
.streamlit/secrets.toml